body {
    margin: 0%;
}


.panel-base {
    text-align: center;
    /* font-size: 30px; */
    color: white;
    margin: 0%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
}

.panel {
    height: 100%;
    float: left; 
    padding: none; 
    margin: none; 
    /* align-items: center; */
    font-size: 30px;
}

.panel-right {
    color: #040720;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

h1::after{
    content: "";
    width: 30px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    animation: cursor-blink 2s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        background-color: #ffffff;
    }

    100% {
        background-color: #040720;
    }
  }
  

